@use '../../../css/abstracts/mixins.scss' as *;
@use '../../../css/abstracts/variables.scss' as *;

.footer {
    margin-top: 7.5rem;
    padding-bottom: 4rem;

    padding-left: 12.75rem;

    .footer__inner {
        padding-top: 2.5rem;
        border-top: 1px solid $color-base-secondary;

        .footer-text {
            font-size: $font-size-medium ;
        }
    }
}